@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ul {
  /* remove entire ul element */
  /* display: none; */
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: #000;
  margin: 0;
}

li {
  /* make li as block level element in the same line */
  display: inline-block;
  /* apply margin on left and right only */
  margin-inline: 0.5rem;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}
