@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* Default underlined, blue colored if not visited, purple if visited 
On long click, changes to red color
On hover, changes cursor to pointer (hand)
*/

a {
  /* remove underline */
  text-decoration: none;
  cursor: pointer;
  color: hsl(207, 44%, 49%);
}

/* pseudo class represent current state of an element 
pseudo class has more specificity
if hover pseudo class goes before visited pseudo class, hover effect will not work as visited will override hover because of order*/
a:visited {
  color: plum;
}

/* pick hsl format color on anchor tag
on pseudo class change hue or opacity*/
a:hover,
a:focus {
  color: hsl(189, 44%, 49%, 0.8);
  background: gold;
  /* opacity: 0.8; */
}

a:active {
  color: red;
}
