/* universal selector - applicable to everything */
* {
  /* font-family: monospace; */
  /* applies to every element */
  /* border: 1px solid red; */
}

/* children inherit parent style properties related to typography */
/* forms don't inherit parent */
body {
  font-size: 22px;
  /* not inherited */
  /* border: 2px solid; */
}

/* only appears one per page */
main {
  font-family: monospace;
}

/* explicitly inherit from parent */
button,
input,
textarea,
select {
  font: inherit;
}

/* group selectors - styling for multiple elements in one rule */
h1,
h2 {
  color: blue;
}

p {
  /* use !important for debugging */
  /* color: purple!important */
  color: purple;
}

/* cascading - last rule for element overwrites all the previous styles */
/* class name and id select has more specificity - this will overwrite element style */
/* specificity - id selector > class selector > element selector */
p {
  color: red;
}

/* styling span elements inside p element. better way is to use class */
p span {
  text-transform: uppercase;
  background-color: gold;
}

.highlight {
  text-transform: uppercase;
  background-color: yellowgreen;
}

/* class selector - group of similar elements*/
.gray {
  color: gray;
}

/* id selector - specific to single element. it should be unique in a HTML document */
#second {
  font-style: italic;
}
